body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background:black;
    color:red;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
    font-family: cursive;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 5px solid #555;
  }


  h1,
  h2,
  h3 {
    margin: 0;
    padding: 1em 0;
  }

  p {
    margin: 0;
    padding: 1em 0;
  }

  .btn {
    display: inline-block;
    background: #333;
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #666;
    margin: 0.5em 0;
  }


  /* Section C */

  #section-c {
    background: black;
    color:red;
    padding: 2em;
  }



